<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Café Zea</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ZealandKantine.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/images/logo.jpg" alt="Logo" class="navbar-logo" />     
                </a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Menu/Index">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/WeekMenus/Index">Uge Menu</a>
                        </li>
                        @if (User.Identities.Any(i => i.IsAuthenticated))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Orders/Create">Opret Ordre</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            @{
                if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <div class="dropdown">
                        <button class="btn btn-orange dropdown-toggle" type="button" id="adminMenuDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="adminMenuDropdown">
                            <li><a class="dropdown-item" asp-page="/Menu/Create">Opret nyt menupunkt</a></li>
                            <li><a class="dropdown-item" asp-page="/Menu/Edit">Opdater Menukort</a></li>
                            <li><a class="dropdown-item" asp-page="/WeekMenus/Create">Opret Ugemenu</a></li>
                            <li><a class="dropdown-item" asp-page="/WeekMenus/Update">Opdater Ugemenu</a></li>
                            <li><a class="dropdown-item" asp-page="/Orders/Manage">Administrer Ordrer</a></li>
                            <li><a class="dropdown-item" asp-page="/Orders/History">Ordrehistorik</a></li>
                        </ul>
                    </div>
                }
            }
            @{
                if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Logon/Login">Log Ind</a>
                    </li>
                }
                else
                {
                    <li class="nav-item nav-link text-dark me-3">
                        <span>User:</span> <span><b>@Context.User.Identity?.Name</b></span>
                    </li>
                }
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - ZealandKantine - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
