@page
@model ZealandKantine.Pages.Menu.CreateModel
@{

}
@using ZealandKantine.Models

<h1>Opret Menupunkt</h1>

<form method="post">

    <div>
        <label>Navn</label>
        <input asp-for="MenuItem.Name" required />
        <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
    </div>

    <div>
        <label>Pris</label>
        <input asp-for="MenuItem.Price" type="number" step="0.01" min="0" max="1000" required inputmode="decimal"  />
        <span asp-validation-for="MenuItem.Price" class="text-danger"></span>
    </div>

    <div>
        <label>Kategori</label>
        <select asp-for="MenuItem.Category"
                asp-items="Html.GetEnumSelectList<MenuCategory>()">
        </select>
    </div>

    <div>
        <label>Aktiv</label>
        <input asp-for="MenuItem.IsActive" />
    </div>

    <button type="submit">Gem</button>

</form>
