@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .hero-section {
        height: 90vh;
        background-image: url('/images/kantine.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .hero-section::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.45);
    }

    .hero-content {
        position: relative;
        text-align: center;
        color: bisque;
        z-index: 1;
        padding: 20px;
    }

    .hero-content h1 {
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .hero-content p {
        font-size: 1.5rem;
    }

    .hero-content a {
        color: aliceblue;
        text-decoration: none;
        font-weight: bold;
    }

    .hero-content a:hover {
        text-decoration: underline;
    }
</style>

<div class="hero-section">
    <div class="hero-content">
        <h1>Café Zea</h1>

        <p>
            Velkommen til kantinens bestillingssystem
        </p>

        <p>
            Bestil din mad hurtigt og nemt online
        </p>

        <a asp-page="/Menu/Index"
           class="btn btn-primary">
            Se Menu
        </a>
    </div>
</div>