@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="hero-section">
    <div class="hero-content">
        <h1>Café Zea</h1>

        <p>
            Velkommen til kantinens bestillingssystem
        </p>

        <p>
            Bestil din mad hurtigt og nemt online
        </p>

        <a asp-page="/Menu/Index"
           class="btn btn-primary">
            Se Menu
        </a>
    </div>
</div>